body {
	background-color: rgb(249, 250, 235);
}

#box1 {
	display: flex;
	justify-content: flex-end;
}
#box4 {
	background-color: rgb(250, 209, 76);
	display: flex;
	justify-content: center;
}


/* Pure CSS styling */
.pure-menu {
    background: #f9c74f;
    padding-left: 5vw;
    font-weight: bolder;
    margin-bottom: 3%;
    box-shadow: 10px 5px 5px #26532b;
}

.pure-menu-link:hover {
    background-image: linear-gradient(to left, #fbbd40 10%, #f9c74f 51%, #fbbd40 100%);
    background-position: right center;
    border-radius: 1rem;
    color: #777;
    text-decoration: none;
}


/* button code */

.pure-button {
    background-image: linear-gradient(to right, #26532b 0%, #52985a 51%, #7ca280 100%)
}

.pure-button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border-left: 2em;
}

.pure-button:hover {
    background-image: linear-gradient(to left, #7ca280 0%, #52985a 51%, #26532b 100%);
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


/* mapbox map styling */

.map-text h3 {
    margin-top: 5vh;
    max-width: 50vw;
    margin-bottom: 4vh;
}

#map {
	border: solid 1px #26532B;
	position: absolute;
	margin-right: 1rem;
	height: 61.5em;
	width: 50%;
}


/* Brewery Population Styling */

#brewsList {
    margin-top: 2.5vh;
    width: 40em;
    height: 37em;
    overflow-y: scroll;
}

.card {
	background-color: #fffefe;
    border: 1px solid rgb(0, 82, 20);
    border-radius: 1.25rem;
	width: 65%;
    margin-bottom: .75rem;
    padding: .75rem;
}

.card > h4 {
	margin-top: .1rem;
}

.card > p {
	line-height: 50%;
}

.card > p:last-child {
	margin-bottom: 10px;
}

.card:hover {
	background-image: linear-gradient(to left, #7ca280 0%, #52985a 100%);
	border: 1px solid #fff;
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


/* style the marker */

.marker {
    background-image: url('https://cdn.iconscout.com/icon/free/png-512/beer-mug-glass-drink-cocktail-emoj-symbol-babr-30679.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.otherMarker {
    background-image: url('https://image.similarpng.com/very-thumbnail/2020/11/Toilet-tissue-paper-roll-icon-illustration-on-transparent-background-PNG.png');
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}


/* style for the mark pop-up */

.mapboxgl-popup {
    max-width: 200px;
    border-radius: 55px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content > p {
	line-height: 90%;
}


/* footer */

#footer {
	background: #fafafa;
	margin-top: 1rem;
	height: 3rem;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	color: #343a40;
	text-align: center;
}

a:link {
	color: #777;
	text-decoration: none;
}
a:visited {
	color: #777;
}
a:hover {
	color: rgb(0, 82, 20);
}


/* mostly mobile friendly */

@media (max-width: 768px) {
	#box1 {
		display: flex;
		justify-content: center;
		height: 50vh;
	}
	.pure-form {
		display: flex;
		justify-content: center;
	}
	.pure-controls {
		display: flex;
		justify-content: center;
	}
	#map {
		height: 50%;
		width: 95%;
		margin-top: 1em;
		margin-right: 0em;
	}
	#searchField {
		justify-content: center;
	}

	#box2 {
		display: flex;
		justify-content: center;
		margin-top: 1em;
	}
	#brewBox {
		margin-bottom: -1rem;
	}
	.card {
		width: 85%;
		padding: .5rem;
		margin-bottom: .75rem;
	}
	#footer {
		position: relative;
		margin-top: 0rem;
		height: 4rem;
	}
	#nav {
		display: none;
	}
}